<%# include relative path to the partials file %>
<% include ../partials/header.ejs  %>
<h1>ALL Admin Details</h1>

<h2>
  <%= name %>
</h2>

<h3>Using basic for loop</h3>
<ul>
    <% for (var i = 0; i < adminArr.length; i++) { %>
      <ul>
        <li>
        ID: <%= adminArr[i].id %></li>
        <li>
        Admin Name: <%= adminArr[i].name %></li>
        <li>
        Admin Password: <%= adminArr[i].password %></li>
        <li>
        Admin Email: <%= adminArr[i].email %></li>
      </ul>
    <% } %>
</ul>

<h3>Using foreach</h3>
<ul>
    <% adminArr.forEach(function(movie) { %>
      <ul>
        <li>
        ID: <%= movie.id %></li>
        <li>
        Admin Name: <%= movie.name %></li>
        <li>
        Admin password: <%= movie.password %></li>
        <li>
        Admin Email: <%= movie.email %></li>
      </ul>
    <% }) %>
</ul>

<% include ../partials/footer.ejs  %>
